<h3>Analytics</h3>
<div class="container">
    <div class="row">
        <div class="card col col-md-7 col-lg-7 col-sm-11">


            <form>
                <label>Select a Department</label>
                <select ng-options="dept.name for dept in depts " ng-model="deptName" ng-change="update()"></select>
            </form>
            <center><h4><strong>{{deptName.name}}</strong></h4></center>
            <br><br>
            <div ng-if="deptName">
                <div id="lastPaychecks"></div>
            </div>


        </div>
        <div class="card col col-md-7 col-lg-7 col-sm-11">


            <form>
                <label>Select Employee</label>
                <select ng-options="employee.name for employee in employees " ng-model="employeeName" ng-change="employeeUpdate()"></select>
            </form>
            <center><h4><strong>{{employeeName.name}}</strong></h4></center>
            <br><br>
            <div ng-if="employeeName">
                <div id="quarterlySalary"></div>
            </div>


        </div>
    </div>
</div>