<h3>Dashboard</h3>
<div class="container">
	<div class="row">
		<div class="card col col-md-7 col-lg-7 col-sm-11">
			<h4><strong>Time Off</strong></h4>
			<br><br>
			<div class="row">
				<div class="col col-md-6 col-lg-6 col-sm-6 border-right">
					<center>
						Percentage of leaves left
						<div id="donut"></div>
					</center>
				</div>
				<div class="col col-md-6 col-lg-6 col-sm-6" >
					<center> Previous TimeOff
						<table class="tableCustom" ng-if="timeOffDetails != '' ">
							<tr>
								<th>Date</th>
								<th>Reason</th>
								<th>Hours</th>
							</tr>
							<tr ng-repeat="timeOff in leaveDetails">
								<td>{{timeOff.date}}</td>
								<td>{{timeOff.reason}}</td>
								<td>{{timeOff.hours}}</td>
							</tr>
						</table>
						<p ng-if="timeOffDetails == '' " class="pdng-top"><strong>No Previous Leaves</strong></p>
					</center>
				</div>

			</div>
			<br><br>
			<center><a href="/viewTimeOff"><button class="btn btn-primary">View All TimeOff Requests</button></a>

		</div>
		<div class="card col col-md-4 col-lg-4 col-sm-6" style="height:450px">
			<h4><strong>Anouncements</strong></h4>
			<div ng-repeat="announcement in announcements" class="border-bottom">
				<h5><img src="{{announcement.imgUrl}}" style="width:30px; height:30px">
					<strong>{{announcement.aHeading}}</strong></h5>
				<h6>{{announcement.aDate}}</h6>
				<h6>{{announcement.aText}}</h6>
			</div><br>
			<center><a href="/allAnnouncements"><button class="btn btn-primary">View All Announcements</button></a>
		</div>
	</div>
	<div class="row">
		<div class="card col col-md-7 col-lg-7 col-sm-11">
			<h4><strong>Projects</strong></h4>
			<center>
				<table class="tableCustom" ng-if="projects != '' ">
					<tr>
						<th>Project Name</th>
						<th>Lead</th>
						<th>Client</th>
					</tr>
					<tr ng-repeat="project in projects">
						<td>{{project.projName}}</td>
						<td>{{project.teamLead}}</td>
						<td>{{project.client}}</td>
					</tr>
				</table>
				<p ng-if="projects == '' " class="pdng-top"><strong>Not working on any Projects</strong></p>
			</center>
		</div>
		<div class="card col col-md-4 col-lg-4 col-sm-6">
			<h4><strong>Next Holiday</strong></h4>
			<center>
				<h5><strong>{{holiday.hName}}</strong></h5>
				<p>{{monthName}}</p>
				<p style="font-size:45px;">29</p>
				<p>Monday</p>
				<h6>In {{diffDays}} days</h6>

			</center>
		</div>

	</div>


</div>