<h3>Holiday Calendar</h3>
<div class="container">
	<div class="row">
		<div class="card col col-md-7 col-lg-7 col-sm-11">
			<h4><strong>Holidays</strong></h4>
			<center>
				<table class="tableCustom" ng-if="holidays != '' ">
					<tr>
						<th>Date</th>
						<th>Name</th>
					</tr>
					<tr ng-repeat="holiday in holidays">
						<td>{{holiday.hDate}}</td>
						<td>{{holiday.hName}}</td>
					</tr>
				</table>
				<p ng-if="holidays == '' " class="pdng-top"><strong>No Holidays for your company</strong></p>
			</center>
		</div>
		<div class="card col col-md-4 col-lg-4 col-sm-6">
			<h4><strong>Next Holiday</strong></h4>
			<center>
				<h5><strong>{{holiday.hName}}</strong></h5>
				<p>{{monthName}}</p>
				<p style="font-size:45px;">{{holidayDay}}</p>
				<p>{{dayName}}</p>
				<h6>In {{diffDays}} days</h6>

			</center>
		</div>
	</div>
</div>